.card {
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.584);
  margin: 5px 5px;
}

.like {
  background-color: rgb(82, 239, 14);
  margin: 15px;
}
.dislike {
  background-color: rgb(255, 160, 72);
  margin: 15px;
}

.likedis {
  display: flex;
  justify-content: center;
}
